.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  /* border: 1px solid red; */
  border-radius: 5px;
  width: 30rem;
  margin: 50px auto 40px;
  padding: 20px;
  box-shadow: 0px 5px 20px 0px #5c636926;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  font-size: 17px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0px 4px 8px 0px #c5bcbc;
  border: none;
  border-radius: 10px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}
